/venv/
/Course3/LESSONS/Django/coursera_blog/venv/
/Course3/LESSONS/Django/coursera_blog/venv_blog/
/Course2/project/venv/
/Course2/final_project_ASkop/
/Course2/project/
/Course2/final_project/
/.idea/
