.navigation{
    margin-bottom: 50px;
}

.topic-list__item{
    margin-top: 20px;
}

.category{
    background-color: #f8a79c;
    padding: 20px;
}

.topic{
    margin-top: 20px;
}
div{
    font-size: 2em;
    background-color: #533f03;
}