<div class="navigation topic-list">
    <div class="topic-list__item">
        <h4><a href="#">Test</a></h4>
        <h6>Категория: Тест</h6>
        <p>Пример текста...</p>
        <a href="{% url "topic_details" 1 %}" class="btn btn-outline-primary">Более...</a>
    </div>
    <div class="topic-list__item">
        <h4><a href="#">Test1</a></h4>
        <h6>Категория: Тест</h6>
        <p>Пример текста...</p>
        <a href="#" class="btn btn-outline-primary">Более...</a>
    </div>
    <div class="topic-list__item">
        <h4><a href="#">Test2</a></h4>
        <h6>Категория: Тест</h6>
        <p>Пример текста...</p>
        <a href="#" class="btn btn-outline-primary">Более...</a>
    </div>
</div>